In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data=pd.read_csv('ex1data1.txt',names=['population','profit'])
data.head()

   population   profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [2]:
data.insert(0,'ones',1)
data.head()

   ones  population   profit
0     1      6.1101  17.5920
1     1      5.5277   9.1302
2     1      8.5186  13.6620
3     1      7.0032  11.8540
4     1      5.8598   6.8233

In [3]:
X=data.iloc[:,0:-1]
X.head()

   ones  population
0     1      6.1101
1     1      5.5277
2     1      8.5186
3     1      7.0032
4     1      5.8598

In [4]:
y=data.iloc[:,-1]
y.head()

0    17.5920
1     9.1302
2    13.6620
3    11.8540
4     6.8233
Name: profit, dtype: float64

In [5]:
X=X.values
X.shape

(97, 2)

In [6]:
y=y.values

In [7]:
y.shape

(97,)

In [8]:
y=y.reshape(97,1)
y.shape

(97, 1)

In [9]:
def normalEquation(X,y):
    theta=np.linalg.inv(X.T@X)@X.T@y
    return theta

In [10]:
theta=normalEquation(X,y)
print(theta)

[[-3.89578088]
 [ 1.19303364]]